.news-page {
  display: flex;
}

.news-image {
  flex: 1;
}

.news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-info {
  flex: 1;
  background-color: black;
  color: white;
  padding: 20px;
}

.news-collum {
  color: #057fa1;
}

.news-collum h1 {
  font-size: 3em;
}

.news-collum p {
  font-size: 2em;
}

@media (max-width: 893px) {
  .news-page {
    flex-direction: column;
  }
}
